<div class="profile_container">
<span class="board_text"> <%= @user.name %>'s Profile</span>

-- public --
Statistics (# of boards created, # of tasks created, # of todos created, # of tasks done on time)
Profile Picture

-- if current_user --
change username
change email
change password
delete account


</div>
