<div class="profile_container">
  
  <span class="board_text"> <%= @user.name %>'s Profile</span>
    <div id="temp">
    <p>-- public --</p>
    <p>Statistics (# of boards created, # of tasks created, # of todos created, # of tasks done on time)</p>
    <p>Profile Picture</p>
    <br>
    <p>-- if current_user --</p>
    <p>change username</p>
    <p>change email</p>
    <p>change password</p>
    <p>delete account</p>
  </div>

</div>
