<h1 class="header">Boards</h1>

<div class="new_board_btn">
  <span class="placement_text">Click here to create a new board!</span>
</div>

<div class="new_board">
  <span class="placement_text">Creating a board</span>
</div>
