.new_board_btn {
  min-width: 280px;
  height: 100px;
  border-radius: 5px;
  background-color: #023C40;
  margin-left: 50px;
  margin-top: 25px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
  transition: 0.2s all
}

.new_board_btn:hover {
  transform: scale(1.05);
}

.new_board_btn:active {
  background-color: lighten(#023C40, 10%);
}

.board_submit {
  min-width: 100px;
  height: 35px;
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
  text-transform: uppercase;
}

.board_submit:hover {
  background-color: #78FFD6;
}

.board_cancel {
  min-width: 100px;
  height: 35px;
  background-color: crimson;
  color: white;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
}

.board_cancel:hover {
  background-color: white;
  color: crimson;
}

.task_btn {
  display: inline-block;
  padding: 0px 10px 7px 10px;
  height: 25px;
  margin-left: 37%;
  margin-top: 40px;
  background-color: white;
  border-radius: 5px;
  text-transform: uppercase;
}

.task_btn:hover {
  background-color: #78FFD6;
}

.btn_text {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
}
