body {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  margin: 0;
  background-color: #78FFD6;
}

nav {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #023C40;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
  color: white;
}

nav > * {
  margin-left: 15px;
}

.new_board {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  background-color: #023C40;
  margin-left: 50px;
  margin-top: 25px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
  transition: 0.2s all
}

.hidden {
  position: absolute;
  top: -2500px;
}

.board {
  width: 480px;
  height: 100%;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #023C40;
  margin: 25px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.task_div {
  margin-top: 20px;
  margin-left: 25px;
  max-width: 500px;
}

.task_div div {
  margin-bottom: 10px;
}


.task_list {
  margin-top: 25px;
  margin-left: 25px;
}

.task_list div {
  margin-bottom: 5px;
}

.task_list div .label {
  min-width: 245px;
  max-width: 245px;
  cursor: pointer;
}

.profile_container {
  margin: auto;
  width: 50%;
  height: 50%;
  background-color: #023C40;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
  transition: 0.2s all;
  border-radius: 5px;
  margin-top: 50px;
}
