.board_input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  margin-top: 20px;
  border: 0;
  background: white;
  box-shadow: none;
  text-align: center;
  font-size: 15px;
  color: #023C40;
  font-weight: bold;
}

.new_user {
  margin-left: 100px;
  margin-top: 100px;
}
