.header {
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
}

.board_text {
  color: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
}

.new_board_btn_text {
  color: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 36px;
  font-size: 17px;
}

.nav_profile {
  color: white;
  font-size: 17px;
  float: right;
  margin-top: 13px;
  margin-right: 20px;
}

.nav_logo {
  color: white;
  display: inline-block;
  font-size: 26px;
  margin-top: 15px;
}
